# Ignore node_modules directory
node_modules/

# Ignore build and output directories
build/
dist/
out/
bin/

# Ignore environment files
.env

# Ignore Solidity compiler artifacts
*.json

# Ignore macOS system files
.DS_Store
